.hiremee {
    min-height: 100vh;
    background-image: url("img/hireme.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: transparent;
    font-family: Quicksand !important;
}

.hireme {
    max-width: 800px;
    margin: 80px auto;
    padding: 45px;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    color: silver;
}

.hireme p {
    font-size:1.8rem;
}

.hireme h1 {
    font-size:6rem;
    margin-bottom:15px;
    text-align:center;
}

.subtitle {
    text-align:center;
    color: white;
    margin-bottom:45px;
    line-height:1.5;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.form-group {
    display:flex;
    flex-direction:column;
}

.full-width {
    grid-column:1 / -1;
}

label {
    margin-bottom: 10px;
    font-weight:600;
}

input,
textarea {
    padding: 15px;
    border:1px solid #ddd;
    border-radius:10px;
    font-size:18px;
    transition:.5s;
}

input:focus,
textarea:focus {
    outline:none;
    border-color:gold;
    box-shadow:0 0 0 3px rgba(79,70,229,.15);
}

textarea {
    resize:vertical;
}

.submit-btn {
    grid-column:1 / -1;

    width:200px;
    justify-self:center;

    padding:15px;

    border:solid 2px gold;
    border-radius:10px;

    background:#686868;
    color:white;

    font-size:18px;
    font-weight:bold;

    cursor:pointer;
    transition:.5s;
}

.btn1 {
    display: block;
    width: fit-content;
    margin: 2rem auto;
    padding: 1rem 2.5rem;
    background-color: black;
    border-radius: 5rem;
    font-size: 1.5rem;
    color: white;
    letter-spacing: 0.5rem;
    font-weight: 500;
    border: 2.5px solid silver;
    transition: 0.5s ease;
    cursor: pointer;
    text-decoration: none;
}

.submit-btn1:hover {
    background:#686868;
    transform:translateY(-4px);
}