* {
    box-sizing: border-box;
}

body {
    font-family: Quicksand;
    background-color: black;
    background-image: url('img/circuit2.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: flex-end;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    gap: 1.2rem;
    padding: 0.7rem 1.2rem;
    width: fit-content;
    margin-left: auto;
    margin-right: 2rem;
}

nav a {
    font-size: 15px;
    color: white;
    font-weight: 500;
    transition: all 0.2s ease;
    text-align: right;
    text-decoration: none;
}

nav a:hover,
nav a.active {
    color: gold;
    border-bottom: 3px solid gray;
    display: inline-block;
    padding-bottom: 0.2rem;
}

.skills {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: rgba(0, 0, 0, 0.75);
    width: fit-content;
    max-width: 90%;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 3rem auto 0;
    text-align: start   ;
}

.skills img {
    width: 650px;
    max-width: 100%;
    height: auto;
    border: 2px solid gold;
    border-radius: 8px;
    flex-shrink: 1;
}

.skills-text {
    flex: 1;
}

.telegram-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(0, 0, 0, 0.65);

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.3s ease, visibility 0.3s ease;

    z-index: 9999;
}

.telegram-overlay.show {
    opacity: 1;
    visibility: visible;
}

.telegram-popup {
    position: relative;

    width: 320px;
    max-width: 90%;

    padding: 35px 30px;

    text-align: center;

    background: rgba(0, 0, 0, 0.95);

    border: 2px solid white;
    border-radius: 20px;

    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);

    transform: translateY(30px) scale(0.85);

    transition: transform 0.35s ease;
}

.telegram-overlay.show .telegram-popup {
    transform: translateY(0) scale(1);
}

.popup-telegram-logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    margin-bottom: 10px;
}

.telegram-popup h2 {
    color: white;
    font-size: 25px;
    margin: 5px 0 8px;
}

.telegram-popup p {
    color: #ccc;
    font-size: 15px;
    margin: 0 0 12px;
}

.telegram-username {
    color: #229ED9;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
}

.telegram-message {
    display: inline-block;
    padding: 12px 22px;

    background: #229ED9;
    color: white;

    text-decoration: none;
    border-radius: 10px;

    font-weight: bold;

    transition: 0.2s ease;
}

.telegram-message:hover {
    background: #168ac2;
    transform: translateY(-3px);
}

.telegram-close {
    position: absolute;
    top: 10px;
    right: 15px;

    width: 35px;
    height: 35px;

    border: none;
    background: transparent;

    color: white;
    font-size: 28px;

    cursor: pointer;
}

.telegram-close:hover {
    color: #229ED9;
    transform: rotate(90deg);
}

.btn {
    display: block;
    margin: 2rem auto 0;
    width: fit-content;
    padding: 0.7rem 1.2rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    font-size: 2rem;
    color: white;
    letter-spacing: 0.5rem;
    font-weight: 500;
    border: 2px solid silver;
    transition: 0.8s ease;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 768px) {

    nav {
        width: 90%;
        margin: 1rem auto;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.7rem;
        padding: 0.6rem;
    }

    nav a {
        font-size: 15px;
    }

    .skills {
        flex-direction: column;
        width: 90%;
        max-width: none;
        padding: 20px;
        margin: 3rem auto 0;
    }

    .skills img {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    .skills-text {
        width: 100%;
    }

    .btn {
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
    }
}
