* {
    box-sizing: border-box;
}

body {
    font-family: Quicksand;
    background-color: black;
    background-image: url('img/circuit2.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: flex-end;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    gap: 1.2rem;
    padding: 0.7rem 1.2rem;
    width: fit-content;
    margin-left: auto;
    margin-right: 2rem;
}

nav a {
    font-size: 2.5rem;
    color: white;
    font-weight: 500;
    transition: all 0.2s ease;
    text-align: right;
    text-decoration: none;
}

nav a:hover,
nav a.active {
    color: gold;
    border-bottom: 3px solid gray;
    display: inline-block;
    padding-bottom: 0.2rem;
}

.skills {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background-color: rgba(0, 0, 0, 0.75);
    width: fit-content;
    max-width: 90%;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 3rem auto 0;
    text-align: start;
}

.skills img {
    width: 650px;
    max-width: 100%;
    height: auto;
    border: 2px solid gold;
    border-radius: 8px;
    flex-shrink: 1;
}

.skills-text {
    flex: 1;
}

.btn {
    display: block;
    margin: 2rem auto 0;
    width: fit-content;
    padding: 0.7rem 1.2rem;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 1rem;
    font-size: 2rem;
    color: white;
    letter-spacing: 0.5rem;
    font-weight: 500;
    border: 2px solid silver;
    transition: 0.8s ease;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 768px) {

    nav {
        width: 90%;
        margin: 1rem auto;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0.7rem;
        padding: 0.6rem;
    }

    nav a {
        font-size: 1.3rem;
    }

    .skills {
        flex-direction: column;
        width: 90%;
        max-width: none;
        padding: 20px;
        margin: 3rem auto 0;
    }

    .skills img {
        width: 100%;
        max-width: 350px;
        height: auto;
    }

    .skills-text {
        width: 100%;
    }

    .btn {
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
    }
}
